

.section-title {
    font-size: $font-size-large;
    color: $secondary;
    font-weight: normal;
    margin: 0 auto;
    text-align: center;
    line-height: 1em;
}

.section-title--left {
    @extend .section-title;

    @media #{$mq-large} {
        text-align: left;
    }
}